body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.name-wrap {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square:hover {
  cursor: pointer;
}
.board-wrap {
  display: flex;
  justify-content: center;
}
#board-container {
  list-style: none;
  display: flex;
  width: 305px;
  flex-wrap: wrap;
  margin: 50px 0;
}
#square-1, #square-4, #square-7 {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#square-3, #square-4, #square-5 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.announcement {
  display: none;
}
.cat-game {
  box-shadow: inset 0 0 20px 10px rgba(196, 6, 6, 0.6);
}
.winning-combo {
  box-shadow: inset 0 0 20px 10px rgba(6, 196, 6, 0.6);
}
.play-again {
  display: none
}