
:root {
  --tan-crayola: hsla(24, 69%, 67%, 1);
  --sinopia: hsla(18, 58%, 46%, 1);
  --rich-black-fogra-39: hsla(0, 0%, 5%, 1);
  --medium-aquamarine: hsla(148, 62%, 64%, 1);
  --white: hsla(0, 0%, 100%, 1);
  
}
 
 .square {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background: lightblue;
  border: 1px solid black;
}
.active:hover {
  cursor: pointer;
}
#board-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  width: 305px;
}
#square-1, #square-4, #square-7 {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
#square-3, #square-4, #square-5 {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.announcement {
  display: none;
}
.cat-game {
  box-shadow: inset 0 0 20px 10px rgba(196, 6, 6, 0.6);
}
.winning-combo {
  box-shadow: inset 0 0 20px 10px rgba(6, 196, 6, 0.6);
}
.start {
  display: none;
}
.play-again {
  display: none;
}